*{
  background-color: #F4F5F7 ;
}

.para{
  margin-left: 15px;
  background-color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #838488;
}

.type{
  background-color: white;
  margin-bottom: 20px;
  width: 180px;
  height: 35px;
  border-radius: 10px;
  margin-right: 40px;
}

.container{
 background-color:#F4F5F7;
 width: 1000px;
 height: 600px;
 padding: 0px;
  margin-left: 10%;
  margin-top: 50px;
  border-radius: 50px;
}

img{
   float: right;
   margin: 20px;
   padding: 0;
   opacity: 100%;
   border-radius: 0 50px 0 0;
   width:  460.626px;
   height:  680.5px; 
}

.signup{
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left:0px;
}
.left{
  background-color: white;
  padding: 20px;
  border-radius: 0 50px 0 50px;
}

.fm{
  background-color: rgb(255, 255, 255);
  box-shadow:#b1b2b5;
}

.form-control{
  margin-bottom: 7px;
  margin-right: 30px;
  width: 400px;
  height: 35px;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  color: #F4F5F7;
  border-radius: 15px;
  border:1px solid rgb(206, 206, 206);
}

.btn{
  cursor: pointer;
  background-color: black;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border-width: 0ch;
  font-size: 20px;
  color: #f7c40a;
}

.btn:hover{
  background-color: rgb(233, 233, 233);
}